apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: {{ dig "global" "db" "namespace" .Release.Namespace (.Values | merge (dict)) | quote }}
  labels:
{{ include "common.labels" . | indent 4 }}
type: Opaque
data:
    # use 32 bytes of random value, hex
    MYSQL_PASSWORD: amFtYm9uZXM=
