apiVersion: v1
kind: Secret
metadata:
  name: monitoring-secrets
  namespace: {{ dig "global" "monitoring" "namespace" .Release.Namespace (.Values | merge (dict)) | quote }}
  labels:
{{ include "common.labels" . | indent 4 }}
type: Opaque
data:
    # use 32 bytes of random value, hex
    POSTGRES_PASSWORD: {{ .Values.postgres.secret }}
